  /* .headlineone ul{
    border-bottom: 1px solid;
    list-style: none;
    height: 30px;
  } */
  /* .headlineone li{
    height: 40px;
    float: left;
    padding-left: 110px;
  } */
  /* #statusone li{
    padding-right: 10px ;
  }
  .usersone ul{
    border-bottom: 1px solid;
    list-style: none;
    height: 30px;
  }
  .usersone li{
    height: 40px;
    float: left;  
  padding-left: 100px;
      font-family: Montserrat;

  }
   */
